@import "./variables";
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Prompt-Medium !important;
}
body{
  height: 100%;
  background: #F6F6F6 !important;
}
.bg-light-blue{
  background-color: #E6F2FF;
}
.underline {
  width: 100%;
  height: 1px;
  background: #DCDCDC;
}

.bg-green-dark {
  background: #163F33 !important;
}

.padding-section-between-6 {
  padding-top: 6rem;
}

.padding-170px {
  padding: 0px 170.5px;
}

.container-main{
  max-width: 1920px;
}



@media (max-width:1800.98px) {
  .container-pagination{
    width: 100% !important;
  } 
}


@media (max-width: 1024.98px){
  .padding-170px {
    padding: 0px 25px !important;
  }
}